html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Pretendard';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}